{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
        lager,
        {lager_logstash_backend,
         {git,"https://github.com/lambdaclass/lager_logstash_backend",
          {ref, "b06034c"}}},
       {cowboy, "2.6.3"} ]}.

{shell, [
    {apps, [erlbank_flex_transactions]}
]}.

{profiles, [
    {test, [
        {deps, []},
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}
     ]}
    ]}
]}.

{relx, [{release, {erlbank_flex_transactions, "0.0.1"},
         [erlbank_flex_transactions]},

        {dev_mode, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {include_erts, true},

        {extended_start_script, true}
       ]
}.
